<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--User wiring-->
        <!--Production config-->
        <bean name="userRepository"
                class="repository.user.HibernateUserRepository">
        </bean>

        <bean name="userService"
              class="service.user.DefaultUserService">
            <property name="repository" ref="userRepository"/>
        </bean>

        <bean name="blogRepository"
              class="repository.blog.HibernateBlogRepository">
        </bean>

        <bean name="blogService"
              class="service.blog.DefaultBlogService">
            <property name="repository" ref="blogRepository"/>
        </bean>

        <bean name="internshipRepository"
              class="repository.internship.HibernateInternshipRepository">
        </bean>

        <bean name="internshipService"
              class="service.internship.DefaultInternshipService">
            <property name="repository" ref="internshipRepository"/>
        </bean>

    <!--ApiCrud wiring-->
    <bean name="hibernateCrudOperation"
          class="data.crud.HibernateCrudOperation">
    </bean>

    <bean name="crudService"
          class="data.crud.CrudService">
        <constructor-arg name="crudOperation" ref="hibernateCrudOperation"/>
    </bean>

</beans>